<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaston Sciarra</title>
</head>
<body>
    <h1>ES MUY FACIL USAR PLATILLAS</h1>
    <H3>ESTAMOS EN LA COMI DE DJANGO 34645 </H3>

        <p>Nombre = {{ nombre }}</p>
        <p>Apellido = {{ apellido }}</p>
        <p>Edad = {{ edad }}</p>
        <h4>lista de notas </h4>
        
        <ul>
                {% for nota in lista_de_notas %}
                              
                    {% if nota > 5 %} 
                    <li style="color: aqua;"> Nota Aprobada: {{ nota }} </li>
                    {% else %}
                    <li style="color: red;"> No Aprobada: {{ nota }} </li> 
                    {% endif %}
                {% endfor %}

        </ul>

    
</body>
</html>